<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>VietBlog Navbar</title>
</head>
<body>
<div ng-controller="DangNhapController" th:fragment="navbar">
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light ">
		<div class="container-fluid">
			<button class="logo" id="toggleBtn">
				V
			</button>
			
			<!-- Search Bar (centered) -->
			<form class="search d-flex mx-auto border rounded" role="search">
				<input aria-label="Search" class="form-control me-2" placeholder="Tìm kiếm" type="search">
				<button class="btn" type="submit"><i class="bi bi-search"></i></button>
			</form>
			
			<!-- Dropdown Buttons -->
			
			
			<div class="btn-group ms-2">
				<button aria-expanded="false" class="btn btn-outline-dark rounded" data-bs-toggle="dropdown"
				        id="dropdownButton1" type="button">
					<i class="bi bi-bell-fill"></i>
				</button>
				<ul aria-labelledby="dropdownButton1"
				    class="Notification-dropdown-area dropdown-menu dropdown-menu-lg-end">
					<!-- Nội dung thông báo sẽ được thêm vào đây -->
					<li><h6 class="dropdown-header">Thông báo</h6></li>
					<li><a class="dropdown-item" href="#">Thông báo 1</a></li>
					<li><a class="dropdown-item" href="#">Thông báo 2</a></li>
					<li><a class="dropdown-item" href="#">Thông báo 3</a></li>
				</ul>
			</div>
			
			<div class="btn-group ms-2">
				<button aria-expanded="false" class="btn btn-dark rounded" data-bs-toggle="dropdown" id="dropdownButton2"
				        type="button">
					<i class="bi bi-person-circle"></i> <span
						th:text="${session.currentUser != null} ? ${session.currentUser.tenNguoiDung} : 'Tên người dùng'"></span>
				</button>
				<ul aria-labelledby="dropdownButton2" class="account-dropdown dropdown-menu dropdown-menu-lg-end">
					<div class="dropdown-button-area">
						<li>
							<form th:action="@{/trang-ca-nhan/{userId}(userId=${session.currentUser.id})}" method="get">
								<button type="submit" class="dropdown-item">Trang cá nhân</button>
							</form>
						</li>
						<li><a class="btn dropdown-item" ng-click="logout()">Đăng xuất</a></li>
					
					</div>
					<div class="dropdown-button-area">
						<li>
							<button class="btn dropdown-item" id="toggleTheme">Giao diện: Sáng</button>
						</li>
						
						<li><a class="btn dropdown-item" href="#">Kiểu chữ: Arial</a></li>
					</div>
					<div class="dropdown-button-area">
						<li><a class="btn dropdown-item" th:href="@{/cai-dat}">Cài đặt</a></li>
					</div>
				
				</ul>
			</div>
		</div>
	</nav>
</div>


</body>
</html>
