<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>VietBlog Navbar</title>
<body>
<!-- Sidebar -->
<div class="sidebar" id="sidebar" th:fragment="sidebar">
	<a class="btn menu-item" th:href="@{/index}"><i class="bi bi-house"></i><span>Trang chủ</span></a>
	<a class="btn menu-item"><i class="bi bi-fire"></i><span>Đang theo dõi </span></a>
	<a class="btn menu-item" th:href="@{/cong-dong}"><i class="bi bi-people"></i><span>Cộng đồng</span></a>
	<a class="btn menu-item"><i class="bi bi-collection"></i><span>Hỗ trợ</span></a>
	<hr>
	<a class="btn btn-dark m-2 menu-item" th:href="@{/dang-bai}"><i class="bi bi-plus-square"></i><span>Đăng bài</span></a>
	<a class="btn menu-item" th:href="@{/danh-sach-luu}"><span>Bài viết đã lưu </span></a>
	<a class="btn menu-item"><span>Bài viết đã thích</span></a>
	<a class="btn menu-item"><span>Bài viết của bạn</span></a>
	<a class="btn menu-item" th:href="@{/nhap}"><span>Bài viết nháp</span></a>
	<hr>
	<a class="btn menu-item"><span>Chính sách quyền riêng tư </span></a>
	<a class="btn menu-item"><span>Chính sách bài viết</span></a>
	<a class="btn menu-item"><span>Chính sách bảo mật</span></a>
	<a class="btn menu-item"><span>Chính sách Cộng đồng </span></a>
	<a class="btn menu-item"><span>Chính sách Bản quyền</span></a>
</div>

<script th:src="@{/js/Nhom_ctrl.js}"></script>
</body>
</html>
