/* navbar */
.navbar .account-dropdown {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
}

.navbar .account-dropdown .dropdown-button-area {
    background-color: #fff;
    margin: 5px 0;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.navbar .search {
    width: 30%;
}

.navbar .search .form-control {
    border: none;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 230px;
    transition: width 0.3s ease;
}

.sidebar.collapsed {
    width: 70px;
}

.sidebar .menu-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    margin: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 15px;
}

.sidebar .menu-item i {
    margin-right: 15px;
}

.sidebar.collapsed .menu-item span {
    display: none;
}

.sidebar .menu-item:hover {
    cursor: pointer;
}

.sidebar-left {
    width: 100%;
    max-width: 300px;
    max-height: 100%;
    width: 400px;
    overflow-y: auto;
}




  
  