*{
    color: #252323;
    font-family: 'Bahnschrift SemiLight', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f5f1ed;
}
.navbar {
}


.navbar .navbar-brand{
    font-family: 'iCiel Panton Black',sans-serif;
    font-size: 50px;
}

.navbar .language-btn{
    width: 150px;
    padding: 5px;
}

.navbar .language-btn .nav-link{
    border-radius: 25px;
    text-align: end;
    font-size: 18px;
    font-weight: bolder;
}

.navbar .sign-up-btn{
    width: 150px;
    padding: 5px;

}

.navbar .sign-up-btn .nav-link{
    background-image: linear-gradient(to bottom right, #5e6472, #818899);
    color: #f5f1ed;
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
}


.account-container{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    place-items: center;
}



.account-banner .title{
    width: 600px;
    height: 170px;
    display: grid;
    justify-content: center;
    place-items: center;
    font-family: 'iCiel Panton Black',sans-serif;
    font-size: 100px;
    transform: translate(-400px,-50px);
    background-color: #a99985;
    border-radius: 10px;
    color: #fff;
}

.account-form-container{
    transform: translate(300px,0px);
}

.account-form-container .account-form{
    padding: 50px;
    padding-top: 150px;
    border: 5px solid #252323;
    border-radius: 10px;
    background-color: #f5f1ed;
}

.account-container .account-form .input-group{
    width: 100%;
    border-bottom: 2px solid #252323;
    margin: 15px 0;
    display: flex;
}


.account-form-container .account-form .input-group input,
.account-form-container .account-form .input-group button{
    background: none;
    border: none;
}

.account-form-container .account-form .btn-continue{
    background-image: linear-gradient(to bottom right, #5e6472, #818899);
    color: #f5f1ed;
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    width: 50%;
}

.ano-btn .btn{
    font-size: 20px;
    color: #252323;
    font-weight: bolder;
}

.ano-btn .btn .bi-facebook{
    color: dodgerblue;
}

.ano-btn .btn .bi-google{
    color: red;
}







