body {
    margin: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
}


/* Main layout */
.main {
    display: flex;
    flex: 1;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}


/* logo */
/* Logo Styles */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; /* Kích thước ô vuông */
    height: 50px;
    border-radius: 8px; /* Bo góc */
    background-color: #000000; /* Màu nền */
    color: #ffffff; /* Màu chữ */
    font-size: 24px; /* Kích thước chữ */
    font-weight: bold;
    font-family: Arial, sans-serif; /* Font chữ */
    cursor: pointer;
}

/* Hiệu ứng khi hover */
.logo:hover {
    transform: scale(1.1); /* Phóng to khi hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}


/* Chọn toàn bộ scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Độ rộng của thanh cuộn dọc */
    height: 12px; /* Độ cao của thanh cuộn ngang */
}

/* Phần thanh cuộn (track) */
::-webkit-scrollbar-track {
    border-radius: 10px; /* Bo góc */
}

/* Phần nút kéo (thumb) */
::-webkit-scrollbar-thumb {
    background: #3f3f3f; /* Màu của nút kéo */
    border-radius: 10px; /* Bo góc */
}

/* Khi hover vào thanh kéo */
::-webkit-scrollbar-thumb:hover {
    background: #2f2f2f; /* Màu khi hover */
}

/* Content */
.content {
    flex-grow: 1;
    padding: 20px;
    border-radius: 0px;
}

.scrollable-container {
    height: 95vh;
    overflow-y: auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 20px;
}

/* Notification dropdown scroll */
.Notification-dropdown-area {
    max-height: 500px;
    width: 400px;
    overflow-y: auto;
}

.Notification-dropdown-area .dropdown-header {
    font-weight: bold;
    padding: 10px 15px;
}
  
  