<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register - InspireBlog</title>
	<link rel="stylesheet" type="text/css" href="../css/login.css">
</head>

<body>
<div class="login-container">
	<div class="brand">
		<h1>InspireBlog</h1>
		<p>Nơi chia sẻ và truyền cảm hứng qua những bài viết.</p>
	</div>
	<div class="login-box">
		<h2>Đăng ký</h2>
		<form action="/register" method="post">
			<!-- Các trường thông tin người dùng -->
			<div class="input-group">
				<div class="chung">
					<div class="input-half">
						<label>Tên đăng nhập</label>
						<input type="text" name="tenDangNhap" required>
					</div>
					<div class="input-half">
						<label>Tên người dùng</label>
						<input type="text" name="tenNguoiDung" required>
					</div>
				</div>
			</div>
			<div class="input-group">
				<label>Email</label>
				<input type="email" name="email" required>
			</div>
			<div class="input-group">
				<label>Mật khẩu</label>
				<input type="password" name="matKhau" required>
			</div>
			<div class="input-group">
				<div class="chung">
					<div class="input-half">
						<label>Giới tính</label>
						<select name="gioiTinh" required>
							<option value="true">Nam</option>
							<option value="false">Nữ</option>
						</select>
					</div>
					<div class="input-half">
						<label>Ngày sinh</label>
						<input type="date" name="ngaySinh" required> <!-- Date input -->
					</div>
				</div>
			</div>
			<div class="input-group">
				<label>Số điện thoại</label>
				<input type="tel" name="dienThoai"> <!-- Đổi type thành tel -->
			</div>
			<button type="submit" class="btn">Đăng Ký</button>
		</form>
		<p th:if="${error}" th:text="${error}" style="color: red;"></p>

		<div class="signup">
			<p>
				Bạn đã có tài khoản? <a href="/login">Đăng Nhập</a>
			</p>
		</div>
	</div>
</div>
</body>

</html>
