<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Xác Thực Mã</title>
</head>
<body>
    <h1>Xác Thực Mã Đặt Lại Mật Khẩu</h1>
    <form action="#" th:action="@{/verify-token}" method="post">
        <label for="token">Nhập Mã Xác Thực:</label>
        <input type="text" name="token" id="token" required />
        <button type="submit">Xác Thực</button>
    </form>
    <div th:if="${error}">
        <p style="color:red;" th:text="${error}"></p>
    </div>
</body>
</html>
